<div>

    <h1>Tarea 2</h1>

    <form action="">
        <label for="InputNews">Busqueda:</label>
        <input id="InputNews" type="text" name="new">
        <input type="submit" value="Find">
    </form>

</div>
    <main class = "grid">
        {{#if data}}
            <h2>News about {{queryParams}}</h2>
        {{/if}}
        {{#each data}}
            <div class = "card">
                <h3>{{title}}</h3>
                <img src="{{urlToImage}}" alt="¿?">
                <p>{{content}}</p>
                <button data-open-moda="">
                    <a href="{{url}}">Link to Post</a>
                </button>
                <button onclick="setModal('{{@index}}')" id="myBtn{{@index}}">Open Modal</button>
            </div>
        {{/each}}
        <br>
    </main>

{{#each data}}
    <div id="myModal{{@index}}" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>{{title}}</h3>
            <img src="{{urlToImage}}" alt="¿?">
            <p>{{content}}</p>
        </div>

    </div>
{{/each}}

<script>
    setModal = (id) =>{
        sessionStorage.setItem('id', id);
        var modal = document.getElementById("myModal" + id);
        var btn = document.getElementById("myBtn" + id);
        btn.onclick = function() {
            modal.style.display = "block";
        }
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    }

    let ids = sessionStorage.getItem('id');
    var modal = document.getElementById("myModal" + ids);

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
